  <!--div class="container">-->
    <!-- Miga de Pan -->
    <nav class="breadcrumb">
      <span>Inicio</span> > <span>Transacciones</span>
    </nav>
    <div class="logo-container">
      <div [align]="'right'">    
        <button   (click)="logout()">Salir</button>
      </div>   
    
    <div class="date-time">
      <p>IP: <strong>192.168.110.20</strong></p>
      <p>Usuario: <strong>{{ state.userEmail$ | async }}</strong></p>
    </div>
  
    <h1>Menú de Transacciones</h1>
  
    <!-- Consultas -->
    <h2>Consultas</h2>
    <div class="consults">
      <button class="green" (click)="getSaldo()">Saldo Cuenta</button>
      <button class="blue" (click)="getHistoria()">Historial de transacciones</button>
    </div>
  
    <!-- Saldo de la Cuenta -->
    <div class="saldo" *ngIf="mostrarSaldo">
      <h3>Saldo de la cuenta</h3>
      <p><strong>Tipo cuenta:</strong> {{ tipoCuenta }}</p>
      <p><strong>Número de Cuenta:</strong> {{ nroCuenta }}</p>
      <p><strong>Saldo:</strong> {{ saldoCuenta | currency }}</p>
    </div>
  
    <!-- Historial de Transacciones -->
    <div class="historia" *ngIf="mostrarHistoria">
      <h3>Historial de Transacciones</h3>
      <table>
        <thead>
          <tr>
            <th>Tipo</th>
            <th>Fecha</th>
            <th>Monto</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let transaccion of historialTransacciones">
            <td>{{ transaccion.Tipo }}</td>
            <td>{{ transaccion.Fecha | date:'dd/MM/yyyy HH:mm' }}</td> <!--uso de pipe-->
            <td>{{ transaccion.Monto | currency }}</td> <!--uso de pipe-->
          </tr>
        </tbody>
      </table>
    </div>
  
    <!-- Operaciones -->
    <h2>Operaciones</h2>
    <div class="operaciones">      
      <app-crearoperaciones></app-crearoperaciones>          
    </div>
  <!--/div>-->
  